/*****************
About Section Styles
******************/

.containerMain {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  font-family: 'Nebula';
  min-height: 500px;
}

.image {
  filter: saturate(0%);
  object-fit: cover;
  height: 100%;
  opacity: 0;
  width: 100%;
  transition: opacity 2s ease-in-out;
}

.title {
  opacity: 0;
  background-clip: text;
  color: white;
  top: 2%;
  position: absolute;
  z-index: 10;
  align-self: center;
  transform: translateY(30px);
  transition: opacity 1500ms ease-in-out, transform 2s ease-in-out;
}

.headshot{
  top: 15%;
  order: 2;
  filter: saturate(100%);
  opacity:0;
  position: absolute;
  object-fit: cover;
  width: 60%;
  height: 40%;
  max-width: 300px;
  max-height: 400px;
  z-index: 10;
  border-radius: 5%;
  transition: width 500ms ease, height 500ms ease, opacity 3500ms ease
}

/*****************
Media Queries
******************/


@media(min-width: 600px){
.headshot{
  top: 15%;
  width: 50%;
}
  
}
@media(min-width: 750px){
.headshot{
  top: 20%;
  max-width: 40%;
  max-height: 50%;
  left: 5%;
}
.containerMain{
max-height: 700px;
}
}
@media(min-width: 1300px){
  .headshot{
    max-width: 40%;
    max-height: 30%;
    left: 5%;
    max-height: 1000px;
  }
}
@media(min-width: 1600px){
.headshot{
  top: 15%;
  min-height: 750px;
}
  .containerMain{
    max-height: 1200px;
  }
}
