/*****************
About Section 
******************/

.containerMain {
  display: flex;
  align-items:center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  max-width: 1100px;
  width: 100%;
  font-family: 'Nebula';
  min-height: 500px;
}

.image {
  filter: saturate(90%);
  object-fit: cover;
  height: 100%;
  opacity: 0;
  width: 100%;
  transition: opacity 2s ease-in-out;
}

.title {
  opacity: 0;
  background: linear-gradient(180deg, #FFFFFF 41.5%, #FDA564 100%);
  background-clip: text;
  color: transparent;
  top: 2%;
  position: absolute;
  z-index: 10;
  align-self: center;
  transition: opacity 2s ease-in-out;
}

.headshot{
  top: 20%;
  order: 2;
  filter: saturate(100%);
  opacity:0;
  position: absolute;
  object-fit: cover;
  width: 150px;
  max-width: 400px;
  max-height: 400px;
  height: 150px;
  z-index: 10;
  border-radius: 10px;
  transition: width 500ms ease, height 500ms ease, opacity 3500ms ease
}

@media(min-width: 600px){
.headshot{
  top: 15%;
}
  
}
@media(min-width: 1100px){
.headshot{
  left:2%;
}
  
}
@media(min-width: 1300px){
.headshot{
  left:-10%;
}
  
}
@media(min-width: 1600px){
.headshot{
  top: 15%;
  left:-15%;
}
  
}
