.containerMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: auto;
    width: 100%;
    background-color: black;
}

